/** GLOBAL SETTINGS **/
*	{
	box-sizing: border-box;
}

:root	{
	background-color: rgba(0,0,128, .1);
}

body	{
	font-family: 'Montserrat', sans-serif;
	color: navy;
	width: 320px;
	margin: auto;
}

p	{
	color: rgba(0,0,128, .6);
	line-height: 1.5em;
}

legend	{
	font-size: 1.5em;
	font-weight: bold;
	line-height: 3em;
	display: block;
	border-top: 2px;
}

.no-wrap	{
	white-space: nowrap;
}

.rule	{
	border-top: solid 4px;
	border-bottom: solid 2px;
	height: 10px;
	margin: 8px;
}

.rule-1	{
	border-top: solid 2px navy;
	border-right: none;
	border-bottom: none;
	border-left: none;
	height: 2px;
	margin-left: 8px;
	margin-right: 8px;
}
.copyright	{
	font-style: italic;
	text-align: center;
}

.field-1	{
	border: none;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
}

.field-2	{
	border: none;
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
}

.field-3	{
	border: none;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
}

/**Containers**/

.container	{
	margin: -10px 6px 10px 6px;
	padding: 2px;
	text-align: center;
}

.reverse	{
	background: navy;
	color: white;
	text-align: center;
	padding-top: 30px;
	height: 90px;
}

form	{
	margin: auto;
	background: #fff;
}

header	{
	width: 100%;
}

fieldset	{
	margin: 4px;
	padding: 0;
}

/**** Form Elements ****/

.field-1 label	{
	display: inline-block;
}

.field-2 label	{
	display: inline-block;
	line-height: 20px;
	margin-left: 4px;
}

textarea,
input[type="text"],
input[type="email"]	{
	display: inline-block;
	line-height: 40px;
	background-color: rgba(0,0,128, .2);
	width: 97%;
	border-radius: 6px;
}

select	{
	border-left: solid 1px navy;
	border-top: solid 1px navy;
	height: 40px;
	background-color: rgba(0,0,128, .2);
	width: 98%;
	margin-bottom: 15px;
	padding: 1px;
	border-style: inset;
}

input:focus	{
	border: 0;
	outline: 0;
	background-color: rgba(0,0,128, .1);
	border-bottom: 4px solid navy;
	-moz-transition-duration: 2s;
	transition-timing-function: ease-in;
	transition-duration: 2s;
}

textarea:focus	{
	border: 0;
	outline: 0;
	background-color: rgba(0,0,128, .1);
	border-bottom: 4px solid navy;
}

input[type="text"]:-moz-placeholder	{
	text-align: right;
} 
input[type="text"]:-ms-input-placeholder	{
	text-align: right;
}
input[type="text"]::-webkit-input-placeholder {
	text-align: right;
}

input[type="email"]:-moz-placeholder	{
	text-align: right;
}
input[type="email"]:-ms-input-placeholder	{
	text-align: right;
}
input[type="email"]::-webkit-input-placeholder {
	text-align: right;
}

input[type="radio"],
input[type="checkbox"]	{
	display: inline;
	}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label	{
	font-weight: bold;
}

button	{
	width: 100%;
	height: 70px;
	color: white;
	background-color: navy;
	border-radius: 5px;
}

.field-3 label	{
	width: 100px;
	display: inline-block;
	line-height: 2em;
	color: rgba(0,0,128, .6);
}

/**** MEDIA QUERIES ****/

@media (min-width: 768px) {
	body	{
		width: 60%;
	}
	input[type="text"],
	input[type="email"],
	select	{
		float: right;
		margin-right: 6px;
		width: 62%;
	}
	.field-1 label	{
		width: 30%;
		margin: 0 4px 0 4px;
		line-height: 65px;
	}
	
	.field-2 label	{
		width: 30%;
		margin-left: 4px;
		line-height: 30px;
	}
	.field-2 h2,
	.field-2 p	{
		margin-left: 12px;
	}
	.field-3 label	{
		width: 120px;
	}
}
@media (min-width: 1050px)	{
	body	{
			width: 70%;
		}
		input[type="text"],
		input[type="email"],
		select	{
			float: right;
			margin-right: 6px;
			width: 72%;
		}
		.field-1 label,
		.field-2 label	{
			width: 20%;
			margin-left: 6px;
			margin: 0 6px 0 0;
		}
		.field-1 label	{
			line-height: 65px;
		}
		.field-2 label	{
			line-height: 40px;
		}
		.field-3 label	{
			width: 200px;
		}
}